@page "/"
@page "/{Context}"

<PageTitle>Nice Dice</PageTitle>

<div class="d-flex flex-nowrap">
    <button class="btn btn-primary mx-1" @onclick="ToggleDarkMode">
        <span class="fa @(DarkMode ? "fa-sun" : "fa-moon")"></span>
    </button>
    <a class="btn btn-primary mx-1" href="/">Zahlen</a>
    <a class="btn btn-primary mx-1" href="/letters">Buchstaben</a>
</div>

<hr />

<div @onclick="RollDicesAsync">
    <Condition Evaluation="@(Context == "letters")">
        <Match>
            <Iterations Items="LetterDices">
                <Dice DiceInfo="context" OnSaveState="SaveStateAsync" OnRemoveCounter="RemoveLetterDiceAsync" DarkMode="DarkMode" />
            </Iterations>

            <button class="btn btn-primary btn-lg addDiceButton" @onclick="AddLetterDiceAsync">
                <span class="fa fa-plus"></span>
            </button>
        </Match>
        <NotMatch>
            <Iterations Items="NumericDices">
                <Dice DiceInfo="context" OnSaveState="SaveStateAsync" OnRemoveCounter="RemoveNumericDiceAsync" DarkMode="DarkMode" />
            </Iterations>

            <button class="btn btn-primary btn-lg addDiceButton" @onclick="AddNumericDiceAsync">
                <span class="fa fa-plus"></span>
            </button>
        </NotMatch>
    </Condition>
</div>
